<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--API-->
    <add key="FixerURL" value="https://api.fixer.io"/>

    <!--CurrencyLayer-->
    <add key="CurrencyLayerURL" value="https://api.fixer.io" />
    <add key="CurrencyLayer_Access_Key" value="471e010b089837d62a7be5936be6d510" />

  </appSettings>
</configuration>